@import "_variables.scss";
@import "_functions.scss";
@import "_typography.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	font-family: openSansMedium;
}



html {
	box-sizing: border-box;
	font-size: 10px;
	@include removeScrollBar;
	height: 100%;
	width: 100%;

	* {
		overflow: hidden;
	}
}

body {
	@include makeFullWidthBlock;
	@include makeColFlexStart;
	height: max-content !important;
	min-height: 100vh;
	background-color: $lessBrightColor;
	position: relative;
	overflow: auto !important;
	width: 100vw;



	$numOfParts: 4;
	$animTime: 1s;
	$stagger: 0.08s;
	$sliderReadyTrans: all $animTime/2 $animTime;
	$maxLettersStagger: 6;
	$letterStagger: 0.1s;
}


.upper-pane {
	@include makeFullWidthBlock;
	height: max-content;
	background-color: $darkAccentColor;
	@include makeRowFlex;
	justify-content: space-evenly;
	align-items: center;
	padding: .5rem;
	z-index: 6;
	position: fixed;
	min-height: 5rem;

	.logo-div {
		height: 3rem;
		width: 3rem;
		@include makeColFlexCenter;
		margin-right: auto;
		margin-left: 1rem;

		svg {
			height: 80%;
		}
	}

	.search-box {
		width: 10rem;
		border-bottom: .1rem solid $oddColor;
		position: relative;
		@include makeRowFlex;
		justify-content: space-between;
		padding-right: 1rem;
		overflow: visible;

		span {
			height: 2rem;
			overflow: visible;

			svg {
				height: 80%;
				scale: .9;

				path {
					fill: $lessBrightColor;
				}
			}

			margin-right: .3rem;
		}

		input {
			padding: 0 1rem;
			width: 75%;
			all: unset;
			caret-color: $homeGoldLikeColor;
			overflow: hidden;

			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
			}

			&:focus~.search-cancel {
				display: block;
				@include makeAbsoluteTopRightDiv;
				right: -10%;
				height: 100%;
				width: 2rem;

				svg {
					width: 100%;
					transform: scale(.6);
				}
			}
		}


		.search-cancel {
			display: none;
		}
	}

	.nav-tab-toggler {
		margin-right: 1rem;
		transform: scale(.8);

		span {
			z-index: -1;
		}
	}
	.desktop-nav-tab{
		border: unset;
		margin-right: 5vw;
		background-color: unset;
		width: fit-content;
		max-width: 30%;
		margin-left: auto;
		height: 80%;
		.desktop-nav-links{
			@include makeFullSizeBlock;
			@include makeRowFlexCenter;
			justify-content: space-evenly;
			.desktop-nav-link{
				width: 10rem;
				a{
					font-family: openSansLight;
						font-weight: 300;
						color: $lessBrightColor;
				}
			}
		}
	}

	.announce-div {
		position: fixed;
		left: 0;
		@include makeFullWidthBlock;
		padding: .5rem 1rem;
		z-index: 9;
		top: 5.05rem;

		&::before {
			@include makeAbsoluteTopLeftDiv;
			@include makeFullWidthBlock;
			position: fixed;
			height: .05rem;
			background-color: $DirectoryBlurColor;
			backdrop-filter: blur(2px);
			top: 5rem;
			z-index: 8 !important;
		}

		height: 2.5rem;
		background-color: $darkAccentColor;

		.announce-text {
			color: $homeGoldLikeColor;
		}
	}

}

@mixin makeMainContainer() {
	margin-top: 5rem;
	@include makeFullWidthBlock;

	@include makeColFlexStart;
	height: max-content;
	position: relative;
	min-height: 100vh;

}

.modal-overlay {
	background-color: $DirectoryBlurColorDark;
	backdrop-filter: blur(2px);
	display: none;
	@include makeMainContainer;
	@include makeAbsoluteTopLeftDiv;
	position: fixed;
	@include makeFullSizeBlock;
	height: calc(100vh - 5rem);
	width: 100%;
	@include makeRowFlexEnd;
	z-index: -6 !important;

	&-opened {
		z-index: 6 !important;

	}

	.side-tab {
		border: unset;
		background-color: $darkAccentColor;
		@include makeFullHeightBlock;
		@include makeColFlexStart;
		width: 65%;
		transform: translateX(100%);
		transition: transform .3s ease-in-out;
		padding: 1rem;
		position: relative;
		padding-bottom: 5rem;
		overflow: auto !important;
		@include removeScrollBar;

		&>div,
		ul {
			@include makeFullWidthBlock;
			margin-bottom: 2rem;
			height: max-content;
		}

		&>div {
			@include makeRowFlexStart;
			justify-content: space-between;
		}

		&-opened {
			transform: translateX(0);
		}

		svg {
			@include makeFullHeightBlock;
		}

		.nav-theme-icon-div {
			@include makeAbsoluteTopDiv;
			height: 3rem;
			@include makeRowFlexCenter;
			align-items: center;

			svg {
				height: 80%;
			}
		}

		.ST-navs {
			height: max-content;
			min-height: 85%;
			margin-top: 3rem;
			@include makeColFlexStart;
			overflow: auto !important;
			@include removeScrollBar;

			.ST-title-link-div {
				@include makeFullWidthBlock;
				@include makeRowFlexStart;
				justify-content: space-between;
				min-height: 3rem;
				margin-bottom: 1.5rem;
				align-items: center;

				svg {
					width: 2rem !important;
					fill: $lessBrightColor;
					// @include debug;

					path {
						fill: $lessBrightColor;
					}
				}



				p {
					width: max-content;
					text-align: start;
					cursor: pointer;
					color: $homeGoldLikeColor;
					font-family: openSansMedium;
					font-weight: 300;
					margin-left: 1rem;

					&.disabled {
						color: $homeOutlineColorTrans;
					}

				}

				&.secluded {
					p {
						color: $lessBrightColor;
					}
				}
			}

			.ST-links {
				height: max-content;
				@include makeColFlexCenter;
				min-height: 10rem;
				justify-content: space-evenly;
				position: relative;
				padding: 0 3rem;

				.ST-link {
					font-family: openSansLight;
					font-weight: lighter !important;
					border-bottom: .05rem solid $homeOutlineColor;
					@include makeFullWidthBlock;
					border-bottom-width: 120%;
					text-align: center;
					padding-bottom: .3rem;
				}
			}
		}

	}


}
.desktop-side-tab {
	@include makeColFlexStart;
	position: fixed;
	right: 0;
	width: 3rem;
	height: 70vh;
	top: 15%;
	bottom: 15%;
	z-index: 6;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	align-items: center;
	padding: 2rem 0.5rem;
	background-color: $brightColor;
	box-shadow: -.05rem -.1rem .5rem $DirectoryBlurColorDark;
	
	&>div{
		@include makeFullWidthBlock;
		@include makeColFlexCenter;
		align-items: center;
		margin: auto;
		svg{
			@include makeFullWidthBlock;
			fill: $accentColor;
			transform: scale(.9);
			cursor: pointer;
			path{
				fill: $accentColor;
			}
		}


	}

}

.wrapper {
	@include makeMainContainer;
	padding-top: 2.5rem;
}

footer {
	@include makeFullWidthBlock;
	@include makeColFlexStart;
	height: fit-content;
	min-height: 45vmax;
	padding: 2rem;
	background-color: $darkAccentColor;

	p {
		font-family: openSansLight;
	}

	.title-text {
		font-weight: 400;
		font-size: .8rem;
		margin-bottom: 1.5rem;
	}

	.footer-top {
		@include makeFullWidthBlock;
		min-height: 15rem;
		height: max-content;
		@include makeRowFlexStart;
		justify-content: space-evenly;
		align-items: flex-start;
		padding-bottom: 4rem;

		.ft-part {
			width: max-content;
			min-width: 33%;
			@include makeFullHeightBlock;
			@include makeColFlexStart;
		}


		.FT-left {
			@extend .ft-part;
			margin-right: auto;
			align-items: flex-start;

			.footer-logo-div {
				height: 2rem;
				width: 2rem;
				margin-bottom: 1.5rem;
				transform: scale(.9);
			}

			.footer-moto {
				width: 30vw;
				font-weight: 300;
				font-size: .6rem;
				margin-bottom: 2rem;
			}

			.footer-payment-client-div {
				p:first-of-type {
					@extend .title-text;
				}

				&-image {
					width: 100%;
					max-width: 8rem;
				}
			}
		}

		.footer-section-title {
			@extend .title-text;
		}

		.FT-middle {
			@extend .ft-part;
			margin: auto;
			align-items: center;
			text-align: center;
			margin-top: 0;


			.footer-section-lists {
				@include makeFullSizeBlock;

				li {
					font-size: .7rem;
					font-family: openSansLight;
					height: 2rem;
					cursor: pointer;
				}
			}


		}

		.FT-right {
			@extend .ft-part;
			height: max-content;

			.FTR-sub-text {
				font-weight: 300;
				font-size: .7rem;
				text-align: start;
				@include makeFullWidthBlock;
				margin-bottom: .6rem;
				width: max-content;
			}

			.footer-contact-title {
				font-family: openSansLight;
				@extend .title-text;
			}

			p {
				@extend .FTR-sub-text;
			}

			.footer-contact-icons {
				width: 8rem;
				height: 2rem;
				@include makeRowFlexStart;
				justify-content: space-evenly;
				align-items: center;

				.FCI {
					@include makeFullHeightBlock;
					@include makeColFlexCenter;

					svg {
						@include makeFullHeightBlock;
						height: 50% !important;
						cursor: pointer;
					}

					&:nth-child(n) {
						path {
							fill: $homeGoldLikeColor;
						}
					}

					&:nth-child(2n) {
						path {
							fill: $lessBrightColor;
						}
					}

				}
			}
		}
	}

	hr.style-two {
		@include makeFullWidthBlock;
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, $darkAccentColor, $lessBrightColor, $darkAccentColor);
	}

	.footer-bottom {
		height: 12rem;
		width: 80%;
		@include makeColFlexStart;
		margin-top: 4rem;

		.FB-container {
			// min-width: 80%;
			text-align: center;
			width: max-content;
		}

		.copyright {
			@extend .FB-container;
			font-size: 70%;
			color: $homeGoldLikeColor;
			margin-bottom: 1rem;
		}

		.footer-credit-div {
			@extend .FB-container;
			@include makeColFlexCenter;
			width: fit-content;
			align-items: flex-start;

			p {
				@extend .title-text;
				@include makeRowFlexStart;
				justify-content: space-evenly;
				width: max-content;
				text-align: start;

				span>a {
					font-family: openSansLight;
					font-weight: 300;
					font-size: .7rem;
				}

				span:first-of-type {
					margin-left: 2rem;
					margin-left: 1rem;
				}

				span:nth-of-type(n+1) {
					margin-left: 1rem;
				}

			}
		}

	}
}

@media screen and (min-width:641px) {
	.modal-overlay{
		display: none !important;
	}
	.upper-pane{
		.nav-tab-toggler{
			display: none !important;
		}
	}
}
@media screen and (max-width:640px) {
	.desktop-side-tab{
		display: none !important;
	}
	.desktop-nav-tab{
		display: none !important;
	}
}