@font-face {
	font-family: nunito;
	src: url("../FONTS/Nunito-Medium.ttf");
}
@font-face {
	font-family: openSansCondensedLight;
	src: url("../FONTS/open-sans-condensed/OpenSans-CondLight.ttf");
}
@font-face {
	font-family: openSansLight;
	src: url("../FONTS/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
}
@font-face {
	font-family: openSansMedium;
	src: url("../FONTS/Open_Sans/static/OpenSans/OpenSans-Medium.ttf");
}