@font-face {
	font-family: nunito;
	src: url("../FONTS/Nunito-Medium.ttf");
}
@font-face {
	font-family: openSansCondensedLight;
	src: url("../FONTS/open-sans-condensed/OpenSans-CondLight.ttf");
}
@font-face {
	font-family: openSansLight;
	src: url("../FONTS/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
}
@font-face {
	font-family: openSansMedium;
	src: url("../FONTS/Open_Sans/static/OpenSans/OpenSans-Medium.ttf");
}
@font-face {
	font-family: latoMedium;
	src: url("../FONTS/LATO/Lato-Regular.ttf");
}
@font-face {
	font-family: latoLight;
	src: url("../FONTS/LATO/Lato-Light.ttf");
}
@font-face {
	font-family: manjariMedium;
	src: url("../FONTS/Manjari/Manjari-Regular.ttf");
}
@font-face {
	font-family: robotoMedium;
	src: url("../FONTS/Roboto/Roboto-Regular.ttf");
}
