:root {
	// HOME PAGE
	--homeFadingTextColor: #333436;
	--homeGoldLikeColor: #B99670;
	--homeDarkColor: #000000;
	--DirectoryCTATextColor: #272727;
	--DirectoryBlurColor: #d4d4d4a8;
	--DirectoryBlurColorDark: #010000af;
	--homeOutlineColorTrans: #d3d3d398;
	--homeOutlineColor: #d3d3d3;
	--homeBodyColor: #E5D6CB;
	--homePlaceholderColor: #3c3c4344;
	--oddColor: #D1C3B9;
	--homeSeparatorColor: #D9CABF;
	--accentColor: #BB9D88;
	--brightColor: #FFFFFF;
	--lessBrightColor: #F3F3EE;
	--darkAccentColor: #08090A;
	--lightestShadowColor: #00000018;
	--accentColorTrans: #bb9d8838;


	// SHOP PAGE
	--shopSideTabListColor: #626262;
	--shopSideTabTitleColor: #000000a2;
	--redTextColor: #FC2222;
	--shopSizeChipColor: #967E6D;


	// SINGLE PRODUCTS PAGE

	--singleProductMainTextColor: #C5C5C7;


	// CHECKOUT PAGE
	--checkoutConnectorColor: #E3DBD2;

	// BLOG PAGE


	// CONTACT PAGE


	// SHOPPING CART PAGE



	// AUTH PAGE
	--authInactiveTextColor: #B4B4B4;
	--authFormColor: #4D4D4D;

}

$homeFadingTextColor: var(--homeFadingTextColor);
$homeGoldLikeColor: var(--homeGoldLikeColor);
$homeDarkColor: var(--homeDarkColor);
$DirectoryCTATextColor: var(--DirectoryCTATextColor);
$DirectoryBlurColor: var(--DirectoryBlurColor);
$DirectoryBlurColorDark: var(--DirectoryBlurColorDark);
$homeOutlineColor: var(--homeOutlineColor);
$homeBodyColor: var(--homeBodyColor);
$homePlaceholderColor: var(--homePlaceholderColor);
$oddColor: var(--oddColor);
$homeSeparatorColor: var(--homeSeparatorColor);
$accentColor: var(--accentColor);
$brightColor: var(--brightColor);
$lessBrightColor: var(--lessBrightColor);
$darkAccentColor: var(--darkAccentColor);
$homeOutlineColorTrans: var(--homeOutlineColorTrans);
$lightestShadowColor: var(--lightestShadowColor);
$shopSideTabListColor: var(--shopSideTabListColor);
$redTextColor: var(--redTextColor);
$shopSideTabTitleColor: var(--shopSideTabTitleColor);
$shopSizeChipColor: var(--shopSizeChipColor);
$accentColorTrans: var(--accentColorTrans);
$singleProductMainTextColor: var(--singleProductMainTextColor);
$checkoutConnectorColor: var(--checkoutConnectorColor);


// HATS PAGE



// CHECKOUT PAGE







// AUTH PAGE
$authInactiveTextColor: var(--authInactiveTextColor);
$authFormColor: var(--authFormColor);
