@import "_default.scss";

.checkout-super-container {
	@include makeFullWidthBlock;
	@include makeColFlexStart;

	@media screen and (min-width: 900px) {
		@include makeRowFlexStart;
	}

	height: max-content;
	min-height: 100vh;


	.checkout-container {
		font-family: latoMedium;
		// FIXING ...
		// @include debug;
		@include makeFullWidthBlock;
		@include makeColFlexStart;
		background-color: $lessBrightColor;
		padding-bottom: 20%;

		@media screen and (min-width: 900px) {
			order: 2;
		}


		.checkout-discount-wrapper {
			align-items: flex-start;
			background-color: transparent;
			// FIXING ...
			align-self: flex-end;
			margin-bottom: 3rem;
			margin-right: 2rem;
			margin: 2rem 2rem 3rem 0;

			&>p {
				@include makeFullWidthBlock;
				margin-bottom: 1rem;
				font-size: .8rem;
				text-transform: uppercase;
				color: $darkAccentColor;
			}

			&>div {
				&.discount-code-box {
					width: max-content;

					overflow: visible;

					form {
						@include makeFullSizeBlock;
						@include makeRowFlexEnd;
						overflow: visible;
						height: 2.5rem;

						* {
							font-family: latoLight;
						}

						&>* {
							outline: none;
							border: unset;
						}

						input {
							@include makeFullHeightBlock;

							&::selection {
								background-color: $darkAccentColor;
								color: $lessBrightColor;
							}

							padding-left: 10%;

							&::placeholder {
								color: $singleProductMainTextColor;
							}

							&:focus {
								box-shadow: inset .1rem .2rem 1rem $lightestShadowColor, -.2rem 0 1rem $lightestShadowColor;
							}
						}

						button {
							width: 6rem;
							@include makeFullHeightBlock;
							background-color: $darkAccentColor;
							color: $lessBrightColor;


						}
					}
				}
			}
		}

		.checkout-body {
			@include makeColFlexStart;
			min-height: 70vh;
			background-color: $accentColorTrans;
			padding: 2rem;
			width: 90%;
			color: $darkAccentColor;
			// display: none;

			span {
				font-family: manjariMedium;
			}

			@media screen and (min-width: 850px) and (max-width: 899px) {
				max-width: 25rem;
				align-self: flex-start;
				margin-left: 10%;
			}

			// @media screen and (min-width)

			&>div {
				@include makeFullWidthBlock;
				height: max-content;
				padding: 2rem .5rem;

				&:first-of-type {
					border-bottom: .1rem solid $lessBrightColor;
				}

				&:last-of-type {
					margin-bottom: 10rem;
				}
			}

			.uniformly-spaced-container {
				@include makeFullWidthBlock;
				@include makeRowFlexStart;
				justify-content: space-between;

			}

			.CB-title {
				@include makeFullWidthBlock;
				text-align: center;
				font-size: larger;
				font-weight: 500;
				margin-bottom: 3rem;
				margin-top: 1rem;
			}

			.checkout-product-summary {

				.checkout-summary-heading-div {
					@extend .uniformly-spaced-container;
					margin-bottom: 2rem;

					p {
						font-family: latoLight;
						font-weight: 600;
					}
				}

				.checkout-summary-details-div {
					@include makeColFlexCenter;
					align-items: center;
					overflow: visible;

					ol {
						@include makeFullWidthBlock;
						height: max-content;

						li {
							@extend .uniformly-spaced-container;
							margin: .5rem 0;
						}
					}
				}
			}

			.checkout-total-price-summary {
				@include makeFullWidthBlock;
				@include makeColFlexCenter;
				align-items: center;
				height: max-content;
				text-transform: capitalize;

				ul {
					@include makeFullWidthBlock;

					li {
						@extend .uniformly-spaced-container;
						margin: .5rem 0;

						span {
							color: $redTextColor;
						}
					}
				}
			}

			&>button {
				outline: none;
				border: unset;
				width: 65%;
				height: 2.5rem;
				font-family: latoLight;
				color: $brightColor;
				background-color: $darkAccentColor;
				cursor: pointer;
			}
		}
	}

	.checkout-form-container {
		@include makeFullWidthBlock;
		align-self: flex-start;
		min-height: 60vh;
		height: max-content;
		padding: 1.5rem;
		padding-top: 3rem;
		color: $darkAccentColor;
		background-color: $lessBrightColor;
		position: relative;

		@media screen and (min-width: 900px) {
			min-width: 35rem;
		}

		.form-progress-indicators {
			width: max-content;
			min-width: 10rem;
			height: max-content;
			margin: auto;
			margin-bottom: 3.5rem;
			@include makeRowFlexStart;

			.FPI {
				width: 1.25rem;
				height: 1.25rem;
				border-radius: 50%;
				@include makeColFlexCenter;
				align-items: center;
				padding: .08rem;
				background-color: $checkoutConnectorColor;

				span {
					@include makeFullSizeBlock;
					cursor: pointer;
				}

				&+.FPI-connector {
					width: 4.5rem;
					height: .2rem;
					margin: 0 .3rem;
					border-radius: 4rem;
					background-color: $checkoutConnectorColor;
				}

				&.FPI-active {
					span {
						border-radius: 50%;
						background-color: $darkAccentColor;
						transform: scale(.9)
					}
				}
			}
		}

		.progress-back-cta{
			@include makeAbsoluteTopLeftDiv;
			top: 5rem;
			left: 2rem;
			@include makeRowFlexStart;
			width: max-content;
			span{
				margin-right: .5rem;
				@include makeRowFlexCenter;
				align-items: center;
				height: 2rem;
				svg{
					@include makeFullHeightBlock;
					path{
						fill: $singleProductMainTextColor;
					}
				}
			}
			button{
				cursor: pointer;
				outline: unset;
				border: unset;
				background-color: unset;
				font-size: .8rem;
				font-family: latoLight;
			}
		}

		.checkout-form-heading {
			height: max-content;
			padding-bottom: 1rem;
			border-bottom: .1rem solid $singleProductMainTextColor;
			margin-bottom: 1.5rem;

			&-text {
				font-size: 1.4rem;
				font-family: nunito;
			}
		}

		form {
			font-family: latoMedium;
			text-transform: capitalize;
			padding: 0 .5rem;
			@include makeFullWidthBlock;
			height: max-content;

			overflow: visible;
			display: none;

			.inline-input-div {
				overflow: visible;
				@include makeFullWidthBlock;
				@include makeRowFlexStart;
				position: relative;
				height: max-content;
				margin: 2rem 0;
				margin-top: 2rem;

				input[type="tel"] {
					margin-top: 2rem;
				}

				&:first-of-type {
					.S {
						margin-top: 2rem;
					}

					label {
						top: 0rem;
					}
				}

				.S {
					margin-top: 4rem;
					width: 45%;

					&:first-of-type {
						margin-right: 3rem;
					}
				}

				label {
					@include makeAbsoluteTopLeftDiv;
					top: 0;

					&:nth-of-type(n+2) {
						left: calc(45% + 3rem);
					}
				}

			}

			input {
				@include makeFullWidthBlock;
				height: 2rem;
				outline: unset;
				padding-left: 1rem;
				border-radius: .3rem;
				background-color: transparent;
				border: .1rem solid $singleProductMainTextColor;
				color: $darkAccentColor;

				&::placeholder {
					color: $singleProductMainTextColor;
					text-transform: capitalize;
					font-family: latoLight;
				}

				&[type="email"] {
					&::placeholder {
						text-transform: unset;
					}
				}

				&.L {
					~label {
						margin-top: 2rem;
					}
				}
			}

			label {
				display: block;
				margin-bottom: 1.5rem;
			}

			.AHA-div {
				@include makeRowFlexStart;
				margin-top: 5rem;

				input[type="checkbox"] {
					accent-color: $darkAccentColor;
					height: 1rem;
					width: 1rem;
					margin-right: .5rem;

					&+span {
						display: inline;
						font-size: .8rem;
					}
				}
			}

			.checkout-form-cta {
				width: max-content;
				padding: 0 2rem;
				margin: 4rem 2rem 0 auto;
				position: relative;

				input {
					height: 2.5rem;
					width: max-content;
					border: none;
					background-color: transparent;

					~span {
						@include makeAbsoluteBottomRightDiv;
						@include makeColFlexCenter;
						align-items: center;
						top: 50%;
						right: 5%;
						transform: translateY(-50%);
						height: 1.5rem;
						width: 1.5rem;

						svg {
							@include makeFullHeightBlock;
							transform: scale(.9);

							path {
								fill: $darkAccentColor;
							}
						}
					}
				}

			}
		}

		.confirmation-section {
			font-family: latoMedium;
			text-transform: capitalize;
			padding: 0 .5rem;
			@include makeFullWidthBlock;
			height: max-content;
			padding: 2rem 5rem 10rem .5rem;
			*{
				font-family: nunito;
				font-weight: 500;
			}
			.greeting-text{
				@include makeFullWidthBlock;
				font-size: 1.1rem;
				margin-bottom: 1rem;
			}
			.confirmation-text{
				font-size: .9rem;
			}

			.confirmation-form{
				@include makeFullWidthBlock;
				@include makeColFlexStart;
				align-items: flex-start;
				margin-top: 3rem;
				position: relative;
				.agreement-check-div{
					@include makeFullWidthBlock;
					@include makeRowFlexStart;
					margin-bottom: 3rem;
					height: 6rem;
					input[type="checkbox"]{
						accent-color: $darkAccentColor;
						height: 1.5rem;
						width: 1.5rem;
						margin-right: .5rem;
					}
					span{
						font-size: .8rem;
						@include makeColFlexCenter;
						display: inline-flex;
						label{
							margin: 25% 0;
						}
					}
				}

				textarea{
					width: 25rem;
					height: 5rem;
					outline: none;
					border: unset;
					padding: .5rem 1rem;
					&::placeholder{
						text-transform: capitalize;
						font-family: nunitoLight;
						color: $singleProductMainTextColor;
					}
					color: $darkAccentColor;
				}
				&>input{
					width: max-content;
					@include makeAbsoluteBottomRightDiv;
					padding: 0 1rem;
					border-radius: unset;
					border: unset;
					outline: unset;
					color: $lessBrightColor;
					background-color: $darkAccentColor;
					font-family: latoLight;
					bottom: -6rem;
					right: 5%;

				}

			}

		}


	}

}