@import "_default.scss";

.home-wrapper {
	background-color: $homeBodyColor;
	height: max-content;

	button {
		outline: none;
		border: unset;
	}

	.slider {
		@include makeFullWidthBlock;
		@include makeRowFlexStart;
		position: relative;
		height: calc(100vw / 2.165);
		justify-self: flex-start;
		padding: 0;

		$numOfParts: 4;
		$animTime: 1s;
		$stagger: 0.08s;
		$sliderReadyTrans: all $animTime/2 $animTime;
		$maxLettersStagger: 6;
		$letterStagger: 0.1s;

		@mixin slidePrev {
			.slider__slide.s--prev & {
				@content;
			}
		}

		@mixin slideActive {
			.slider__slide.s--active & {
				@content;
			}
		}

		@mixin subTextsActiveSlide {
			opacity: 1; //remember to return the opacity to zero for the transition to work
			transition: $animTime/2;

			@include slideActive {
				transition-delay: $animTime*0.65;
				opacity: 1;
				transform: translateY(0);
			}
		}

		@mixin slideActive {
			.slider__slide.s--active & {
				@content;
			}
		}

		@mixin sliderReady {
			.slider.s--ready & {
				@content;
			}
		}

		@mixin slidePrev {
			.slider__slide.s--prev & {
				@content;
			}
		}








		&__slides {
			position: relative;
			@include makeFullSizeBlock;
		}

		&__slide {
			position: absolute;
			left: 0;
			top: 0;
			@include makeFullWidthBlock;
			height: 100%;
			pointer-events: none;

			&.s--active {
				pointer-events: auto;
			}

			&-parts {
				@include makeAbsoluteTopLeftDiv;
				display: flex;
				width: 100%;
				height: 100%;
			}


			&-content {
				@include makeAbsoluteTopLeftDiv;
				text-transform: uppercase;
				width: 35vw;
				min-width: 30rem;
				z-index: 4;
				left: 5%;
				top: 10%;
				height: max-content;


				* {
					color: $darkAccentColor;
				}

			}

			@mixin subTextsActiveSlide {
				opacity: 1; //remember to return the opacity to zero for the transition to work
				transition: $animTime/2;

				@include slideActive {
					transition-delay: $animTime*0.65;
					opacity: 1;
					transform: translateY(0);
				}
			}


			&-subheading {
				margin-bottom: 2rem;
				font-size: 1.3rem;
				letter-spacing: .2rem;
				transform: translateY(-2rem);
				text-align: start;
				@include makeFullWidthBlock;
				color: $accentColor;
				@include subTextsActiveSlide;
			}

			&-heading {
				$fontSize: 2rem;
				z-index: 3;

				display: flex;
				margin-bottom: 20px;
				font-size: $fontSize * 1.2;
				font-family: nunito;
				font-weight: 400;
				text-transform: capitalize;
				overflow: visible !important;

				@media screen and (max-width: 640px){
					font-size: 1.5rem;
					width: 60%;
				}


				span {
					display: block;
					opacity: 1; //remember to return the opacity to zero for the transition to work
					transform: translateY($fontSize*-1);
					transition: all $animTime/3;
					text-align: start;
					height: max-content;
					overflow: visible !important;
					font-family: nunito;

					@include slidePrev {
						transform: translateY($fontSize);
					}

					@include slideActive {
						opacity: 1;
						transform: translateY(0);
					}

					@for $i from 1 through $maxLettersStagger {
						&:nth-child(#{$i}) {
							$delay: $letterStagger * ($i - 1);

							transition-delay: $delay;

							@include slideActive {
								transition-delay: $delay + $animTime/3;
							}
						}
					}

					&:nth-child(n+#{$maxLettersStagger + 1}) {
						$delay: $letterStagger * $maxLettersStagger;

						transition-delay: $delay;

						@include slideActive {
							transition-delay: $delay + $animTime/3;
						}
					}
				}
			}

			&-shop-now-cta {
				overflow: visible !important;
				border: .1rem solid $darkAccentColor;
				@include makeColFlexCenter;
				margin-right: auto;
				margin-top: 1rem;
				position: relative;
				backface-visibility: hidden;
				height: 2.2rem;
				width: 8rem;
				border-radius: .4rem;
				color: $darkAccentColor;
				text-transform: uppercase;
				font-size: .8rem;
				font-weight: 700;
				transition: transform .3s ease-in-out;
				cursor: pointer;

				cursor: pointer;

				&::before {
					all: unset;
				}

				&:hover {
					transform: scale(.9);
				}

				span {
					@include makeAbsoluteTopRightDiv;
					transform: scale(3);
					top: 2%;
					right: -10%;
				}

			}
		}

		.slider-hero-image-div {
			z-index: 2;
			width: 50%;
			max-width: 30rem;
			justify-self: flex-end;
			@include makeColFlexCenter;
			@include makeAbsoluteBottomRightDiv;
			right: 10%;
			overflow: visible !important;

			.slider-hero-image-circle {
				@include makeAbsoluteBottomLeftDiv;
				background-color: $homeBodyColor;
				height: 35vw;
				width: 35vw;
				max-width: 30rem;
				max-height: 30rem;
				border-radius: 50%;
				z-index: 0;
				bottom: -10%;
				left: 20%;
				// left: 0;
			}

			.slider-hero-image {
				position: relative;
				@include makeFullSizeBlock;
				margin-top: auto;
			}
		}
	}

	.section-title {
		@include makeAbsoluteTopDiv;
		@include makeRowFlexCenter;
		width: max-content;
		height: 2.5rem;
		cursor: pointer;
		align-items: center;
		font-size: 1.5rem;
		transform: translateY(-3.5rem);

		span {
			background-color: $darkAccentColor;
			color: $lessBrightColor;
			padding: .2rem;
			margin-left: .2rem;
		}
	}

	.home-directory {
		@include makeFullWidthBlock;
		@include makeColFlexStart;
		height: max-content;
		min-height: 90vh;
		background-color: $lessBrightColor;
		overflow: hidden !important;
		padding: 5rem 0;
		position: relative;
		padding-top: 10rem;

		.directories {
			color: $darkAccentColor;
			max-width: 1800px;
			padding: 3rem 0;
			position: relative;
			z-index: 2;
			overflow: visible;

			.directories-title {
				@extend .section-title;
				top: -2rem;
				left: 50%;
				transform: translateX(-50%);
			}

			.directory {
				@media screen and (max-width: 640px) {
					height: 5rem;
					overflow: visible;
					border-radius: .3rem;
					margin: 2rem 0;

					&:nth-of-type(even) {
						transform: translateX(2rem);
						margin-bottom: 0;
					}

					&:nth-of-type(odd) {
						transform: translateX(-2rem);
					}

					&::before {
						border-radius: inherit;

					}

					.directory-tag-div {
						transform: scale(.8);
						transform-origin: top;
					}
				}

				&::before {
					@include makeAbsoluteTopLeftDiv;
					@include makeFullSizeBlock;
					background-color: #03030246;
					z-index: -1;
					backdrop-filter: blur(2px);
				}

				.directory-tag-div {
					position: absolute;
					top: 10%;
					right: 10%;
					width: max-content;
					height: max-content;
					@include makeColFlexCenter;
					background-color: $darkAccentColor;
					color: $lessBrightColor;
					padding: .5rem;
					z-index: 3;

					@media screen and (max-width: 640px) {
						top: -5%;

					}

					.directory-title {
						font-family: openSansCondensedLight;
						font-size: 1.2rem;
						width: 8rem;
						text-align: start;
					}

					.directory-cta {
						background-color: transparent;
						border: none;
						width: 6rem;
						height: 3rem;
						color: inherit;
						cursor: pointer;
						position: relative;
						overflow: visible;

						&:hover::before {
							height: 0;
							width: 0;
						}

						&::before {
							@include makeAbsoluteTopRightDiv;
							height: 110%;
							width: 3rem;
							right: -1rem;
							top: -.5rem;
							z-index: -1;
							background-color: inherit;
							backdrop-filter: blur(.2rem);
							background-color: $darkAccentColor;
							transition: all .3s ease-in-out;
							transition-delay: .05s;
						}

						&::after {
							@include makeAbsoluteTopLeftDiv;
							@include makeFullSizeBlock;
							transform: scale(1.09);
							z-index: -2;
							border: .1rem solid $lessBrightColor;
						}
					}
				}


				img {
					@media screen and (max-width: 640px) {
						width: 5rem;
						border-radius: inherit;

					}
				}
			}
		}

	}

	.page-line-break {
		@include makeFullWidthBlock;
		background-color: $lessBrightColor;
		height: 1rem;
		transform: translateY(-2rem);

		svg {
			@include makeFullWidthBlock;

		}
	}

	@mixin makeHomeSection {
		@include makeFullWidthBlock;
		background-color: $lessBrightColor;
		height: fit-content;
		position: relative;
		padding-bottom: 10rem;
	}

	.deal-of-the-week-div {
		padding: 4rem 0;
		margin-top: 0;
		@include makeHomeSection;
		@include makeRowFlexStart;
		outline: 1rem solid $lessBrightColor;
		border-bottom: 10rem solid $lessBrightColor;


		.DOW-side-tab {
			@include makeColFlexCenter;
			height: 15rem;
			width: 10rem;
			margin-top: 6rem;
			border-top-right-radius: .8rem;
			border-bottom-right-radius: .8rem;
			background-color: $brightColor;
			color: $homeOutlineColor;
			box-shadow: .3rem .15rem .5rem $lightestShadowColor;
			overflow: visible;

			.DOW-tab-lists {
				list-style-type: none;
				transform: translateX(5rem);
				@include makeColFlexStart;
				justify-content: space-evenly;
				align-items: flex-start;

				.DOW-tab-list {
					text-align: start;
					width: max-content;
					margin: .5rem 0;
					cursor: pointer;

					span {
						visibility: hidden;
					}

					&.active-dow-tab-list {
						color: $darkAccentColor;
						font-weight: 500;
						transform: translateX(.5rem);

						span {
							visibility: visible;
							display: inline-block;
						}
					}
				}

			}
		}

		.DOW-item-div {
			width: 18rem;
			height: 15rem;
			margin: 6rem auto 0 25%;
			position: relative;
			overflow: visible;

			.DOW-item {
				@include makeFullSizeBlock;
				object-fit: cover;
				aspect-ratio: 1/1;
			}

			.DOW-item-tag {
				@include makeAbsoluteTopRightDiv;
				height: 6rem;
				width: 6rem;
				border-radius: 50%;
				background-color: $darkAccentColor;
				top: -1.5rem;
				@include makeColFlexCenter;

				p:first-of-type {
					font-family: openSansLight;
				}
			}

		}

		.float-and-black {
			@include makeAbsoluteTopRightDiv;
			color: $darkAccentColor;
		}

		.DOW-title {
			@extend .float-and-black;
			color: $accentColor;
			left: 15vw;
			top: 3rem;
			text-transform: uppercase;
			width: max-content;
			max-width: 20rem;

			@media screen and (min-width: 1010px) {
				top: 5rem;
				left: 75vw;
			}

			span {
				width: 2rem;
				height: 2rem;
				@include makeColFlexCenter;
				display: inline-flex;
				justify-self: flex-end;
				transform: translateY(.5rem);

				svg {
					height: 80%;
				}
			}
		}

		.DOW-product-title {
			@extend .float-and-black;
			left: 22vw;
			top: 6rem;
			font-size: 1.5rem;
			font-family: nunito;
			@media screen and (min-width: 1010px) {
					top: 8rem;
					left: 75vw;
					padding-right: 2.5vw;
				}
		}

		.DOW-time-div {
			@include makeAbsoluteBottomLeftDiv;
			color: $darkAccentColor;
			bottom: 4rem;
			left: 6rem;
			@media screen and (min-width: 1010px) {
					left: 72vw;
					transform: scale(.8);
					top: 15rem;
				}

			.DOW-time-count-div {
				font-size: 1.4rem;
				@include makeRowFlexCenter;
				justify-content: space-evenly;
				width: 14rem;


			}

			.DOW-time-count-label-div {
				width: 14rem;
				@include makeRowFlexCenter;
				justify-content: flex-end;
				font-size: .8rem;

				span {
					margin-right: 1rem;

					&:last-of-type {
						margin-right: 0;
					}
				}

			}


		}

		.DOW-cta {
			all: unset;
			@include makeColFlexCenter;
			@include makeAbsoluteBottomLeftDiv;
			bottom: -4rem;
			right: -50%;
			transform: translateX(50%);
			width: 10rem;
			height: 2.5rem;
			background-color: $darkAccentColor;
			color: $brightColor;
			font-weight: lighter;
			font-family: openSansLight;
			font-size: .8rem;
			z-index: 3;


		}
	}

	.hot-sales-section {
		@include makeUnSelectableTextDiv;

		@mixin keepAnimating {
			animation-iteration-count: infinite;
			animation-duration: 1.618s;
		}

		color: $darkAccentColor;
		@include makeHomeSection;
		@include makeColFlexStart;
		height: calc(100vw /1.2565);
		padding: 0;
		background-color: $brightColor;
		overflow: visible;
		animation-name: blinkDisplay;
		@include keepAnimating;
		margin-bottom: 5rem;
		border-top: 5rem solid $lessBrightColor;

		.hot-sales-section-title {
			@extend .section-title;
			top: -3rem;
		}

		.hot-sales-section-wrapper {
			@include makeFullSizeBlock;
			// @include debug;
			@include makeColFlexCenter;
			align-items: flex-end;

			&>* {
				@include makeAbsoluteBottomLeftDiv;
			}

			.HSS-side-text-div {
				left: 5%;
				@include makeFullHeightBlock;
				width: 15%;

				img {
					@include makeFullHeightBlock;
				}
			}


			.HSS-display {
				height: 60%;
				width: 60%;
				position: relative;
				margin-right: 2.5%;
				border-top-left-radius: 8%;
				border-bottom-left-radius: 8%;
				background-color: $homeGoldLikeColor;
				transform: translateY(-10%);
				overflow: visible;
				z-index: 2;


				img {
					@include makeAbsoluteTopLeftDiv;
					width: 119%;
					transform: rotateZ(-19.38deg);
					left: -28%;
					top: -25%;
				}

				p {
					@include makeAbsoluteBottomRightDiv;
					font-size: 2em;
					right: 10%;
					font-weight: bolder;
					bottom: 15%;
					color: $hotDealAccentColor;
					animation-name: blinkDisplayText;
					@include keepAnimating;
				}

				@keyframes blinkDisplayText {
					from {
						color: $hotDealAccentColor;
					}

					to {
						color: $brightColor;
					}
				}

				button {
					@include makeAbsoluteTopRightDiv;
					width: 35%;
					height: 15%;
					border-radius: 4vw;
					top: -18%;
					@include makeColFlexCenter;
					align-items: center;
					border: none;
					outline: none;
					background-color: transparent;
					font-weight: bolder;
					cursor: pointer;
					border: .15rem solid $darkAccentColor;
					z-index: 3;
					animation-name: blinkDisplayCta;
					@include keepAnimating;
				}

				@keyframes blinkDisplayCta {
					from {
						color: $darkAccentColor;
						border: .15rem solid $darkAccentColor;
					}

					to {
						color: $brightColor;
						border: .15rem solid $brightColor;
					}
				}
			}


			.HSS-float {
				width: 5vmax;
				height: 5vmax;
				border-radius: 50%;
				z-index: 0;
				background-color: $hotDealAccentColor;

				&:first-of-type {
					left: 35%;
					bottom: 40%;
				}

				&:nth-of-type(2) {
					left: 73%;
					bottom: 18%;
				}

				&:nth-of-type(3) {
					left: 77%;
					bottom: 7%;
				}

				&:nth-of-type(4) {
					left: 79.5%;
					bottom: 6.5%;
				}

				&.big {
					transform: scale(2);
				}

				&.small {
					transform: scale(.5);
				}
			}

		}

	}

	@keyframes blinkDisplay {
		from {
			background-color: #FFFFFF;
		}

		to {
			background-color: #08090A;
		}
	}

	.news-letter-div {
		@include makeFullWidthBlock;
		height: max-content;
		background-color: $lessBrightColor;
		@include makeColFlexStart;
		overflow: visible;
		color: $darkAccentColor;
		position: relative;
		outline: 5rem solid $lessBrightColor;

		.NLD-section-title {
			@include makeRowFlexCenter;
			@include makeFullWidthBlock;
			border-bottom-left-radius: 5rem;
			background-color: $darkAccentColor;
			height: 2rem;
			align-items: center !important;
			overflow: visible;
			margin-bottom: 1rem;


			p {
				width: max-content;
				margin: auto;
				position: relative;
				overflow: visible;
				color: $homeGoldLikeColor;
				font-family: openSansLight;
				font-weight: 300;

				@include makeFullHeightBlock;
				@include makeColFlexCenter;

				&::before {
					@include makeAbsoluteTopLeftDiv;
					@include makeFullSizeBlock;
					transform: scale(1.5);
					border: .1rem solid $darkAccentColor;
				}
			}

		}

		.NLD-title {
			width: 70%;
			height: max-content;
			color: $accentColor;
			font-size: 1.2rem;
			text-transform: capitalize;
			margin-top: 4rem;
			font-weight: 600;
			text-align: center;
		}

		form {
			width: max-content;
			margin: 3rem auto;
			position: relative;
			height: max-content;
			@include makeRowFlexStart;

			input {
				all: unset;
				height: 2rem;
				padding-bottom: 1rem;
				background-color: $brightColor;
				caret-color: $homeGoldLikeColor;
				padding-left: .5rem;
				margin-left: .5rem;

				&:last-of-type {
					position: relative;
				}

				&::placeholder {
					font-size: .8rem;
					color: $homeOutlineColor;
					padding-left: .5rem;
				}

				&:focus {
					box-shadow: .1rem .2rem 1rem $lightestShadowColor;
				}
			}

			.send-news-letter-cta {
				width: 3.5rem;
				@include makeColFlexCenter;
				display: inline-flex;
				height: 3rem;
				transform-origin: bottom;
				background-color: $darkAccentColor;

				svg {
					@include makeFullHeightBlock;

					path {
						fill: $brightColor;
					}
				}

			}
		}

		.newsletter-contact-div {
			width: 75%;
			height: fit-content;
			max-height: 6rem;
			margin: 0 auto;
			margin-bottom: 4rem;
			@include makeRowFlexStart;
			flex-wrap: wrap;
			flex-basis: 7rem;

			div {
				margin-right: 2.5rem;
				width: max-content;
				@include makeRowFlexStart;
				color: $homeFadingTextColor;
				text-transform: capitalize;
				font-family: nunito;

				p {
					margin-right: 1rem;
					font-weight: bolder;
				}

				span {
					width: max-content;
				}
			}
		}

		@mixin floater {
			width: 15vmax;
			height: 15vmax;
			border-radius: 50%;
			box-shadow: .1rem .1rem 2rem $lightestShadowColor;
			z-index: 0;
			background-position: fixed;
		}

		&::before {
			@include makeAbsoluteTopRightDiv;
			right: 15%;
			top: 10%;
			@include floater;
		}

		&::after {
			@include makeAbsoluteBottomLeftDiv;
			bottom: 15%;
			left: 15%;
			@include floater;
			transform: scale(1.5);

			@media screen and (max-width: 800px) {
				display: none;
			}

		}
	}
}

@media screen and (min-width:641px) {

	.directories {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-auto-flow: row;
		grid-gap: .1rem;
		width: 95vw;
		height: max-content;
		margin: auto;
		margin-top: 3rem;

		.directories-title {
			top: -5rem !important;
		}

		.directory {
			position: relative;
			height: 20rem;
			background: url("../IMAGES/e-commerce-entry-bg-2.jpg") no-repeat;
			background-attachment: fixed;
			background-size: cover;
			transition: all .2s ease-in-out;

			&>img {
				display: none;
			}

			&:hover {
				background: $darkAccentColor;
			}

			&::before {
				backdrop-filter: blur(5px);
			}

			&.no-content {
				&:hover {
					background-color: unset;
					transform: unset;
				}

				@mixin imageAdjust {
					background-repeat: no-repeat;
					background-size: cover;
					padding: 2rem;

					&::before {
						display: none;
					}
				}

				&:nth-of-type(1) {
					background: url("../IMAGES/diagonal-stoke-bg-bottom.svg");
					@include imageAdjust;
					background-position: 100% 100%;

				}

				&:last-of-type {
					background: url("../IMAGES/diagonal-stoke-bg-top.svg");
					@include imageAdjust;
				}

			}
		}
	}
}

@media screen and (max-width:640px) {
	.directories {
		@include makeColFlexStart;
		justify-content: space-evenly;
		align-items: center;
		width: 80%;
		margin: auto;
		height: max-content;
		min-height: max-content;
		position: relative;




		.directory {
			max-width: 50rem;
			@include makeColFlexCenter;
			position: relative;
			width: 25rem;
			max-width: 80%;
			height: 15rem;
			margin: 2rem 0;
			align-items: flex-end;

			&.no-content {
				display: none;
			}

			&::before {
				@include makeAbsoluteTopLeftDiv;
				@include makeFullSizeBlock;
				background-color: $lightestShadowColor;
				z-index: 1;
				backdrop-filter: blur(2px);
			}

			img {
				@include makeAbsoluteTopLeftDiv;
				@include makeFullSizeBlock;
				object-fit: cover;
				aspect-ratio: 1/1;
				z-index: 0;
				filter: grayscale(.2);
				background: url("../IMAGES/amsterdam-big.jpg") !important;
			}


		}
	}
}

@media screen and (min-width: 1353px) and (max-width: 1690px) {
	.directory {
		&:nth-of-type(7) {
			order: 8;
		}

		&.no-content {
			&:last-of-type {
				order: 7;
			}
		}
	}
}

@media screen and (min-width: 676px) and (max-width: 1013px) {
	.directory {
		&:nth-of-type(7) {
			order: 8;
		}

		&.no-content {
			&:last-of-type {
				order: 7;
			}
		}
	}
}

@media screen and (min-width: 641px) and (max-width: 676px) {
	.directory {
		&.no-content {
			display: none;
		}
	}
}