@import "_default.scss";

.shop-wrapper {
	background-color: $lessBrightColor;
	position: relative;

	* {
		overflow: visible;
	}

	

	.shop-top-div {
		@include makeFullWidthBlock;
		background-color: $brightColor;
		color: $darkAccentColor;
		padding: 0 1rem;
		@include makeRowFlexStart;
		justify-content: space-between;
		align-items: flex-end;
		height: max-content;
		padding-bottom: .5rem;

		* {
			font-family: latoMedium !important;
		}

		.shop-results-count-text {
			margin-left: 1rem;
			width: max-content;
			min-width: 40%;
			text-align: start;
		}

		.shop-filter-div {
			min-width: 40%;
			@include makeRowFlexEnd;
			overflow-y: visible !important;
			align-items: flex-end;

			span {
				margin-right: 1rem;
				padding-bottom: .2rem;
			}

		}

		.custom-select {
			margin-right: 3.5vw;
			position: relative;
			font-family: Arial;
			width: 25vw;
			max-width: 15rem;

			select {
				display: none;
			}

			@include makeColFlexCenter;


			.select-items {
				position: absolute;
				background-color: $accentColor;
				top: 110%;
				left: 0;
				right: 0;
				z-index: 5;

				div {
					text-align: center;
					padding: .5rem;
					border: 1px solid transparent;
					border-color: transparent transparent $accentColor transparent;
					cursor: pointer;
				}
			}
		}

		.select-selected {
			@include makeFullWidthBlock;
			position: relative;
			max-height: 2rem !important;
			padding-right: 2rem;
			text-align: center;
			color: $darkAccentColor  !important;
			@include makeRowFlexCenter;
			border: 1px solid transparent;
			border-color: transparent transparent $accentColor transparent;
			cursor: pointer;

			&::after {
				@include makeAbsoluteTopRightDiv;
				top: 25%;
				right: 2%;
				width: 0;
				height: 0;
				border: 6px solid transparent;
				border-color: $accentColor transparent transparent transparent;
			}

			&.select-arrow-active::after {
				border-color: transparent transparent $accentColor transparent;
				transform: translateY(-1);
				transform-origin: top;
			}


		}

		.select-hide {
			display: none;
		}

		.select-items div:hover,
		.same-as-selected {
			background-color: #0000001a;
		}
	}

	.shop-body {
		@include makeFullWidthBlock;
		@include makeRowFlexStart;
		align-items: flex-start;
		height: fit-content;
		min-height: 100vh;
		padding-bottom: 30vh;
		position: relative;

		* {
			color: $shopSideTabListColor;
		}

		.shop-products-wrapper {
			@include makeFullWidthBlock;
			height: max-content;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
			grid-auto-flow: row;
			grid-auto-rows: 17rem;
			padding: 1rem;
			position: relative;


			.shop-product-div {
				@include makeColFlexStart;
				align-items: center;
				overflow: hidden;
				margin: 10%;

				* {
					&::selection {
						background-color: transparent;
					}
				}

				* {
					overflow: inherit;
				}

				&>div {
					@include makeFullWidthBlock;
				}

				.SPD-top {
					@include makeColFlexCenter;
					position: relative;
					height: 65%;

					.product-state-tag {
						@include makeAbsoluteTopLeftDiv;
						width: 45%;
						top: 15%;
						transform: rotateZ(-40deg);
						left: -25%;
						z-index: 2;
						@include makeRowFlexCenter;
						align-items: center;
						padding: 0 1rem;
						width: 80%;
						background-color: $brightColor;
						box-shadow: .1rem .2rem .4rem $lightestShadowColor;

						p {
							@include makeFullWidthBlock;
							height: 1.3rem;
							text-align: center;
							font-size: .8rem;
							font-family: manjariMedium;
							transform: translateY(25%);
							color: $redTextColor;
						}
					}

					.SPD-image-div {
						@include makeFullSizeBlock;
						position: relative;

						img {
							@include makeFullSizeBlock;
							object-fit: cover;
							aspect-ratio: 3/2;
						}

						.SPD-top-cta-div {
							@include makeAbsoluteTopRightDiv;
							@include makeFullHeightBlock;
							width: 15%;
							@include makeColFlexStart;
							align-items: center;
							padding: 1rem 0;
							background: linear-gradient($lessBrightColor 0%, $homeOutlineColor 100%);
							opacity: 0;
							transition: opacity .3s ease-in-out;


							div {
								@include makeColFlexCenter;
								width: 1.5rem;
								height: 1.7rem;
								border-radius: .2rem;
								background-color: $lessBrightColor;
							}

							svg {
								@include makeFullHeightBlock;
								cursor: pointer;
							}
						}
					}

					&:hover {
						.SPD-top-cta-div {
							opacity: 1;
						}
					}
				}

				.SPD-content {
					@include makeFullWidthBlock;
					@include makeColFlexCenter;
					align-items: flex-end;
					position: relative;
					height: 35%;

					* {
						color: $darkAccentColor;
					}

					@mixin TAlignText {
						height: 2rem;
						top: .5rem;
						font-family: latoLight !important;
						font-weight: 600;
					}

					.SPD-content-cta-div {
						@include makeAbsoluteTopLeftDiv;
						@include makeFullWidthBlock;
						@include makeRowFlexEnd;
						cursor: pointer;
						justify-content: space-between;
						@include TAlignText;
						cursor: pointer;
						display: none;
						z-index: 3;

						.SPD-content-colors-div {
							width: 40%;
							@include makeFullHeightBlock;
							@include makeRowFlexCenter;

							span {
								height: .6rem;
								width: .6rem;
								border-radius: 50%;
								margin: 0 .3rem;
								border: .1rem solid $homeOutlineColor;
								transform: scale(1.1);

								&#C-2BCBD6 {
									background-color: #2BCBD6;
								}

								&#C-4878FC {
									background-color: #4878FC;
								}

								&#C-CD1613 {
									background-color: #CD1613;
								}

							}

						}
					}

					.SPDC-rating-div {
						// @include debug;
						margin-right: .5rem;
						width: 30%;
						@include makeRowFlexEnd;
						height: 1rem;

						svg {
							height: 80%;

							&>path {

								// a toggle between these two fills to none will give us the rating effect we need
								&:first-of-type {
									fill: $accentColor;
								}

								&:last-of-type {
									fill: $accentColor;
								}
							}

							&:nth-of-type(n+3) {
								&>path {

									// a toggle between these two fills to none will give us the rating effect we need
									&:first-of-type {
										fill: none;
									}

									&:last-of-type {
										fill: $accentColor;
									}
								}
							}
						}
					}

					.SPDC-name {
						@include makeAbsoluteTopLeftDiv;
						@include TAlignText;
						@include makeFullWidthBlock;
					}

					.SPDC-price {
						@include makeAbsoluteBottomLeftDiv;
						@include makeFullWidthBlock;
						bottom: 5%;
					}


				}
			}

			.shop-pagination-buttons-div {
				@include makeAbsoluteTopDiv;
				@include makeFullWidthBlock;
				@include makeRowFlexCenter;
				top: 110%;

				.shop-pagination-buttons {
					width: max-content;

					&>* {
						@include makeColFlexCenter;
						align-items: center;
						display: inline-flex;

						@mixin makeButtonSize {
							width: 2.8rem;
							height: 1.8rem;
						}

						&.SP-button {
							@include makeButtonSize;
							border-radius: .5rem;
							margin: 0 .3rem;
							border: .1rem solid $darkAccentColor;
							background-color: unset;
							box-shadow: inset .2rem .2rem .2rem $lightestShadowColor;
							color: $redTextColor;
							cursor: pointer;
							// @include debug;
						}

						&.spb-active {
							background-color: $darkAccentColor;
							box-shadow: .2rem .2rem .2rem $lightestShadowColor;
						}

						&.SP-more-button {
							@include makeButtonSize;
							@include makeRowFlexCenter;
							align-items: center;
							margin: 0 .5rem;
							display: inline-flex;
							align-self: center;

							span {
								width: 1rem;
								height: 1rem;
								border-radius: 50%;
								background-color: $darkAccentColor;
								transform: scale(.6) translateY(25%);
							}

						}
					}

				}
			}
		}




	}

	.shop-side-pane-mobile {
		@include makeAbsoluteTopLeftDiv;
		@include makeFullHeightBlock;
		@include makeColFlexCenter;
		align-items: center;
		z-index: 4;
		background-color: $lessBrightColor;
		width: 40%;
		max-width: 25rem !important;
		min-width: 20rem;
		padding: 1.5rem 1rem 1rem 0;
		box-shadow: .75rem 0 .8rem $homeOutlineColor;
		overflow: visible;
		transition: all .3s ease-in-out;

		&.SSPM-closed {
			left: -100vw;
			box-shadow: unset;
			.SSPM-toggler {
				position: fixed;
				left: 0% !important;
				z-index: 9;
				top: 45vh !important;
				svg {
					transform: scale(-1, .8);
				}
			}
		}

		.SSPM-toggler {
			@include makeColFlexCenter;
			@include makeAbsoluteTopRightDiv;
			width: 2rem;
			height: 8rem;
			right: -10%;


			@media screen and (min-width: 815px) and (max-width: 899px) {
				right: -9% !important;
			}

			@media screen and (min-width: 900px) {
				right: -8% !important;
			}

			top: 35%;
			background-color: $brightColor;
			border-top-right-radius: .5rem;
			border-bottom-right-radius: .5rem;
			box-shadow: .1rem .2rem .8rem $homeOutlineColor;

			svg {
				transform: scaleY(.8);

				path {
					fill: $darkAccentColor;
				}
			}
		}


		.SSPM-container {
			@include makeFullSizeBlock;
			@include makeColFlexStart;
			align-items: flex-start;
			border: .2rem solid $brightColor;
			border-left: none;
			padding: 2rem;
			padding-right: 1rem;
			position: relative;
			overflow: scroll;
			@include removeScrollBar;
			overflow-x: visible;



			.search-box {
				@include makeFullWidthBlock;
				@include makeColFlexStart;
				align-items: center;
				max-height: 3rem !important;
				overflow: hidden;
				position: relative;
				justify-content: space-between;
				padding: .5rem;
				padding-right: 1rem;
				overflow: visible;
				background-color: $brightColor;
				box-shadow: .1rem .2rem .3rem $homeOutlineColor;

				span {
					@include makeAbsoluteTopRightDiv;
					height: 2rem;
					overflow: visible;
					top: 25%;
					right: 3%;
					margin-right: .3rem;

					svg {
						height: 1.2rem;
						transform: scaleX(-1);

						path {
							fill: $accentColor;
						}
					}

				}

				input {
					padding: 0 1rem;
					width: 75%;
					all: unset;
					caret-color: $homeGoldLikeColor;
					overflow: hidden;

					&::placeholder {
						transform: scale(.8);
						font-size: .7;
						height: max-content;
						text-align: start;
						color: $homeOutlineColor;
					}

					&::-webkit-search-cancel-button {
						-webkit-appearance: none;
					}
				}

			}

			.SSPM-section {
				position: relative;
				@include makeFullWidthBlock;
				@include makeColFlexStart;
				align-items: flex-start;
				height: fit-content;
				margin-bottom: 2rem;

				// @include debug;
				ul {
					list-style-type: none;
					@include makeFullWidthBlock;
					@include makeColFlexStart;
					align-items: flex-start;
					position: relative;
					padding-bottom: 1rem;
					margin-top: 1rem;

					li {
						cursor: pointer;
					}

					&::after {
						@include makeAbsoluteBottomDiv;
						background-color: $homeOutlineColor;
						transform: translateX(50%);
						width: 80%;
						height: .1rem;
						right: 50%;
					}
				}

				&.first {
					margin-top: 3rem;
				}

				&:last-of-type {
					ul {
						&::after {
							display: none;
						}
					}
				}

				.SSPM-accordion {
					height: 2.5rem;
					@include makeFullWidthBlock;
					@include makeRowFlexStart;
					justify-content: space-between;
					overflow: hidden;

					.SSPM-section-title {
						color: $shopSideTabTitleColor;
						font-family: openSansMedium;
						font-weight: 600;
					}

					.SSPM-section-toggle {
						@include makeFullHeightBlock;
						@include makeColFlexCenter;

						svg {
							height: 80%;
							margin: auto 0;
							transform: scale(.6) rotateZ(90deg);
							cursor: pointer;

							path {
								fill: $shopSideTabTitleColor;
							}
						}
					}

				}

				.SSPM-section-list {
					@mixin makeVisualList {
						@include makeRowFlexStart;
						flex-wrap: row;
						flex-basis: 2rem;

					}

					li {
						margin: .5rem 0;
						font-size: .8rem;
						@include makeFullWidthBlock;
					}

					&.size-list {
						@include makeVisualList;

						li {
							width: max-content;
							min-width: 3rem;
							height: 2rem;
							@include makeRowFlexCenter;
							display: inline-flex !important;
							margin: 0 .5rem;
							border: .1rem solid $shopSizeChipColor;
							color: $shopSizeChipColor;
							transition: all .3s ease-in-out;

							&:first-of-type {
								margin-right: 0;
							}

							&:hover {
								background-color: $darkAccentColor;
								color: $brightColor;
							}

							&.active {
								background-color: $darkAccentColor;
								color: $brightColor;
								border: none;

							}
						}
					}


					&.colors-list {
						@include makeVisualList;

						li {
							margin: 0 1rem;
							width: 2rem;
							height: 2rem;
							border-radius: 50%;
							border: .1rem solid $homeOutlineColor;

							&#C-2BCBD6 {
								background-color: #2BCBD6;
							}

							&#C-4878FC {
								background-color: #4878FC;
							}

							&#C-CD1613 {
								background-color: #CD1613;
							}

							&#C-000000 {
								background-color: #000000;
							}
						}
					}

					&.tags-list {
						all: unset;
						@include makeFullWidthBlock;
						overflow: hidden;
						height: max-content;
						flex: row wrap;

						li {
							width: 40%;
							min-width: 5rem;
							height: 1.5rem;
							margin: .5rem;
							@include makeColFlexCenter;
							display: inline-flex;
							background-color: $accentColorTrans;
							color: $brightColor;
							border-radius: .3rem;
						}
					}
				}
			}
		}

	}
}







// NOTE: THIS SHOULD BE AN INLINE MEDIA QUERY FOR THE SPPM-CLOSED TOGGLER
@media screen and (min-width: 804px) and (max-width: 830) {
	.SSPM-closed {
		@include debug;
		display: none !important;

		.SSPM-toggler {

			svg {
				transform: scale(-1, .8);
			}
		}
	}
}

@media screen and (min-width: 830px) and (max-width: 1094) {
	.SSPM-closed {

		.SSPM-toggler {
			right: 0;
			transform: translateX(-25%);

			svg {
				transform: scale(-1, .8);
			}
		}
	}
}




@media screen and (min-width: 1095px) {
	.SSPM-toggler {
		display: none !important;
	}

	.shop-top-div {
		margin-left: auto;
		width: calc(100% - 25rem) !important;

		.shop-results-count-text {
			min-width: max-content !important;
		}
	}

	.shop-body {
		.shop-products-wrapper {
			width: unset !important;
			width: calc(100vw - 25rem) !important;
			margin-left: auto;
		}
	}

	.shop-side-pane-mobile {
		top: -2rem !important;
		height: calc(100% + 2rem) !important;
		box-shadow: unset !important;
	}
}